body {
    height: 100%;
    margin: 0;
}
.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}
.text:hover {
    cursor: pointer;
}