body {
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity .5s;
}
.centered {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}
.text {
    margin: 5%;
    border-radius: 25px;
    transition: 0.5s;
    font-size: xx-large;
    color: whitesmoke;
}
.text:hover {
    cursor: pointer;
    color: #cbe98d;
    font-size: 300%;
    font-weight: bold;
}